* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  box-sizing: border-box;
}

.title {
  text-align: center;
  padding: 40px 0;
}
.el-image__inner {
  width: 63%;
  height: 100%;
  text-align: center;
}
