@import "./reset.css";

html {
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: initial;
}
.title {
  text-align: center;
  padding: 40px 0;
}
.el-image__inner {
  width: 63%;
  height: 100%;
  text-align: center;
}
